@model LeonardoAndradeExamenProgresoOne_R.Models.Andrade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Andrade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empleo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empleo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cumple)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cumple)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
